@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin-left: 30%;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    background-color: lightblue;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin-left: 40%;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    background-color: wheat;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    text-align: center;
    padding: 2px 16px;
  }
  .container1 {
    text-align: left;
    padding: 2px 16px;
  }

:root {
	--main-color: #736454;
	--primary-color: #eff1f3;
	--bg-color: #f6f8fb;
	--hover: #5a4d3e;
	--black: #222;
	--white: #fff;
	--border: 0.1rem solid #aaa;
	--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
	font-family: "Dosis", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
	text-transform: capitalize;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
	width: 1rem;
}

html::-webkit-scrollbar-track {
	background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

section {
	padding: 2rem 7%;
}

.heading {
	text-align: center;
	color: var(--main-color);
	margin-bottom: 3rem;
	font-size: 4rem;
	margin-top: 4rem;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	background: var(--main-color);
	border: var(--main-color);
	color: var(--white);
	font-size: 2rem;
	cursor: pointer;
	padding: 1rem 3rem;
}

.btn:hover {
	background: var(--hover);
}

.btn1 {
	align-items: center;
}
/* header */

.header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: rgb(255, 208, 121);
	background: rgb(167, 220, 255);
	z-index: 1000;
}

.header .logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}

.header .logo i {
	color: var(--main-color);
	padding-right: 0.5rem;
}

.header .navbar a {
	font-size: 2rem;
	margin-left: 2.8rem;
	color: var(--black);
}

.header .navbar a:hover {
	padding-bottom: 0.5rem;
	color: var(--main-color);
	border-bottom: 0.1rem solid var(--main-color);
}

#menu-btn {
	font-size: 2.5rem;
	cursor: pointer;
	color: var(--black);
	display: none;
}

/* home */



.home {
	padding: 0;
}

/* share */
.share-btn-container{
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

.share-btn-container a i{
	font-size: 18px;
}

.share-btn-container a{
	margin: 12px 0;
	transition: 500ms;
}

.share-btn-container a:hover{
	transform: scale(1.4);
}

.share-btn-container .fa-facebook{
	color: #1877f2;
}

.share-btn-container .fa-twitter{
	color: #1da1f2;
}
.share-btn-container .fa-whatsapp{
	color: #25d366;
}





@keyframes fadeIn {
	0% {
		transform: translateY(-4rem) scale(0);
		opacity: 0;
	}
}

.home {
	padding: 0;
}

.share-btn-container a i{
	font-size: 18px;
}

.share-btn-container a{
	margin: 12px 0;
	transition: 500ms;
}

.share-btn-container a:hover{
	transform: scale(1.4);
}

.share-btn-container .fa-facebook{
	color: #1877f2;
}

.share-btn-container .fa-twitter{
	color: #1da1f2;
}
.share-btn-container .fa-whatsapp{
	color: #25d366;
}

/* about us */

.about .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.about .row .image {
	flex: 1 1 39rem;
}

.about .row .image img {
	width: 85%;
}

.about .row .content {
	flex: 1 1 51rem;
	padding: 8rem;
}

.about .row .content h3 {
	font-size: 3.5rem;
	color: var(--main-color);
	padding: 2rem 0;
}

.about .row .content p {
	font-size: 1.6rem;
	color: #444;
	padding: 1rem 0;
	line-height: 1.8;
}

/* menu */

.menu {
	background: var(--bg-color);
}

.menu .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}

.menu .box-container .box .image {
	height: 30rem;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.menu .box-container .box .image img {
	object-fit: cover;
}

.menu .box-container .box .content {
	padding: 1.5rem;
	text-align: center;
}

.menu .box-container .box .content .title {
	font-size: 2.5rem;
	color: var(--main-color);
}

.menu .box-container .box .content p {
	font-size: 1.6rem;
	line-height: 1.8;
	color: #a6a9ab;
	padding: 1rem 0;
}

.menu .box-container .box .content .price {
	color: var(--main-color);
	font-size: 2.5rem;
	padding: 0.5rem 0;
}

.menu .box-container .box .content .price span {
	font-size: 1.5rem;
	text-decoration: line-through;
	font-weight: lighter;
}


/* contact us */

.contact form{
	background: white;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50%;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;	
}

.contact form input, textarea{
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
}

.contact form button{
	padding: 15px;
	background: rgb(51, 158, 247);
	color: white;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 300px;
	margin: 10px auto 0;
	border-radius: 20px;
}
/* footer */

.footer {
	background:rgb(255, 208, 121);;
}
.sign form {
	padding: 2rem;
	background: var(--primary-color);
	box-shadow: var(--box-shadow);
}

.sign form .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.sign form .box-container .box {
	flex: 1 1 41rem;
}

.sign form .box-container .box .inputBox input,
.sign form .box-container .box .inputBox textarea {
	width: 100%;
	margin: 1rem 0;
	padding: 1.2rem 1.4rem;
	font-size: 1.7rem;
	color: var(--black);
	border: var(--border);
}

.sign form .box-container .box .inputBox input::placeholder,
.sign form .box-container .box .inputBox textarea::placeholder {
	text-transform: capitalize;
}

.sign form .box-container .box .inputBox input:focus,
.sign form .box-container .box .inputBox textarea:focus {
	background: var(--main-color);
	color: var(--white);
}

.sign form .box-container .box .inputBox input:focus::placeholder,
.sign form .box-container .box .inputBox textarea:focus::placeholder {
	color: #ccc;
}

.sign form .box-container .box .inputBox textarea {
	height: 20rem;
	resize: none;
}

.sign form .box-container .box .inputBox .map {
	height: 20rem;
	width: 100%;
	margin: 1rem 0;
	border: none;
}

.sign form .box-container .box .inputBox span {
	color: var(--main-color);
	font-size: 2rem;
}
/* contact us */

.contact form{
	background: white;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50%;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;	
}

.contact form input, textarea{
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
}

.contact form button{
	padding: 15px;
	background: rgb(51, 158, 247);
	color: white;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 300px;
	margin: 10px auto 0;
	border-radius: 20px;
}

/* footer */

.footer {
	background:rgb(167, 220, 255);
	margin-top: 2rem;
	text-align: center;
}

.footer .icons-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.footer .icons-container .icons {
	text-align: center;
	padding: 3rem 2rem;
}

.footer .icons-container .icons i {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background: black;
	color: white;
	margin-bottom: 0.5rem;
	line-height: 5.8rem;
	font-size: 2rem;
}

.footer .icons-container .icons h3 {
	font-size: 2rem;
	color: var(--black);
	padding: 1rem 0;
	text-transform: capitalize;
}

.footer .icons-container .icons p {
	line-height: 1.5;
	font-size: 1.7rem;
	color: #854a07;
	text-transform: capitalize;
}


.footer .credit {
	margin-top: 3rem;
	padding-top: 3rem;
	font-size: 2rem;
	color: rgb(255, 208, 121);
	border-top: var(--border);
}

.footer .credit span {
	color: var(--main-color);
}

/* media queries */

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	section {
		padding: 3rem 2rem;
	}

	.home .slide .content {
		text-align: left;
		width: 50rem;
		padding-left: 9rem;
	}
}

@media (max-width: 768px) {
	#menu-btn {
		display: inline-block;
	}

	.fa-times {
		transform: rotate(180deg);
	}

	.header .navbar {
		position: absolute;
		top: 99%;
		left: 0;
		right: 0;
		background-color: var(--white);
		border-top: var(--border);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	.header .navbar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.header .navbar a {
		display: block;
		margin: 2rem;
	}

	.home .slide .content {
		text-align: left;
		width: 40rem;
		padding-left: 9rem;
	}

	.home .slide .content h3 {
		font-size: 4rem;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}

	.home .slide .content h3 {
		font-size: 3rem;
	}
}


/* share media */

@media (max-width: 550px){
	.share-btn-container{
		transform: unset;
		top: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		flex-direction: row;
		box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
		padding: 16px 0;
		justify-content: center;
	}
	.share-btn-container a{
		margin: 0 32px;
	}


}



